<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Data P1 Group 3</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Big Data P1 Group 3</h1>
      <div id="header-content">
        <div class="person">
          <a href="https://www.linkedin.com/in/manesh-kaliannan"
            >Manesh Kaliannan</a
          >
        </div>
        <div class="person">
          <a href="https://www.linkedin.com/in/elz-ming/">Lin Zhenming</a>
        </div>
        <div class="person">
          <a href="http://linkedin.com/in/rachel-poh-wl">Poh Wen Lin, Rachel</a>
        </div>
        <div class="person">
          <a href="https://www.linkedin.com/in/rachelwanjm  "
            >Rachel Wan Jing Mun</a
          >
        </div>
        <div class="person">
          <a href="https://www.linkedin.com/in/tehhanyi">Teh Han Yi</a>
        </div>
        <div class="person">
          <a href="www.linkedin.com/in/kelishatanjy">Kelisha Tan Jia Yi</a>
        </div>
      </div>
    </header>
    <main>
      <section id="section-1">
        <h2>Task 1 - Delay Data</h2>
        <div class="section-content">
          {% if task1_chart.airline_chart %}
          <img
            src="{{ task1_chart.airline_chart }}"
            alt="Airline Delays Chart"
          />
          {% else %}
          <p>No data available for airline delays.</p>
          {% endif %} {% if task1_chart.airport_chart %}
          <img
            src="{{ task1_chart.airport_chart }}"
            alt="Airport Delays Chart"
          />
          {% else %}
          <p>No data available for Task 1.</p>
          {% endif %}
        </div>
      </section>
      <section id="section-2">
        <h2>Task 2 - Negative Reasons per Airline</h2>
        <div class="section-content">
          {% if task2_chart %}
          <img src="{{ task2_chart }}" alt="Task 2 Chart" />
          {% else %}
          <p>No data available for Task 2.</p>
          {% endif %}
        </div>
      </section>
      <section id="section-3">
        <h2>Task 3 - Count by Country</h2>
        <div class="section-content">
          {% if task3_chart %}
          <img src="{{ task3_chart }}" alt="Task 3 Chart" />
          {% else %}
          <p>No data available for Task 3.</p>
          {% endif %}
        </div>
      </section>
      <section id="section-4">
        <h2>Task 4 - Mean Trust Score</h2>
        <div class="section-content">
          {% if task4_chart %}
          <img src="{{ task4_chart }}" alt="Task 4 Chart" />
          {% else %}
          <p>No data available for Task 4.</p>
          {% endif %}
        </div>
      </section>
      <section id="section-5">
        <h2>Task 5 - Sentiment Analysis</h2>
        <div class="section-content">
          <div id="sentiment-left">
            {% if task5_accuracy %}
            <p><strong>Model Accuracy:</strong> {{ task5_accuracy }}</p>
            {% else %}
            <p>No accuracy data available.</p>
            {% endif %} {% if task5_chart %}
            <img src="{{ task5_chart }}" alt="Sentiment Distribution Chart" />
            {% else %}
            <p>No chart available for task-5.</p>
            {% endif %}
          </div>
          <div id="sentiment-right">
            {% for record in task5_data %}
            <div class="card">
              <p><strong>Text:</strong> {{ record.text }}</p>
              <p>
                <strong>Airline Sentiment Gold:</strong>
                <span
                  style="color: 
                {% if record.airline_sentiment_gold == 'negative' %}red
                {% elif record.airline_sentiment_gold == 'neutral' %}blue
                {% elif record.airline_sentiment_gold == 'positive' %}green
                {% else %}black
                {% endif %};"
                >
                  {{ record.airline_sentiment_gold }}
                </span>
              </p>
              <p>
                <strong>Calculated Sentiment:</strong>
                <span
                  style="color: 
                {% if record.calculated_sentiment == 'negative' %}red
                {% elif record.calculated_sentiment == 'neutral' %}blue
                {% elif record.calculated_sentiment == 'positive' %}green
                {% else %}black
                {% endif %};"
                >
                  {{ record.calculated_sentiment }}
                </span>
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <section id="section-6">
        <h2>Section 6</h2>
        <div class="section-content">{{ task6_table|safe }}</div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
